{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}

<div class="mb-3">
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Account Type</th>
                <th scope="col">Account Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <form action="/account_delete" method="POST">
                <td><button class="btn btn-danger mx-2" value="{{ row[0] }}" name="delete">Delete</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mb-3"></div>
<form method="POST">
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="account_type" name="account_type">
                    <option selected="">None</option>
                    <option value="1">Checking Account</option>
                    <option value="2">Saving Account</option>
                    <option value="3">Credit Account</option>
                </select>
                <label for="account_type">Select account type</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="account_description" placeholder="" name="account_description">
                <label for="account_description">Account Description</label>
            </div>
            <div class="mb-3"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}

