{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}

<div class="mt-5">
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Account Type</th>
                <th scope="col">Account Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ results[0] }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}