{% extends "base.html" %}
{% block title %}Accounts{% endblock %}

{% block nav %}
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="/" class="nav-link text-white">
            <i class="bi bi-bar-chart-fill"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="/accounts" class="nav-link text-white">
            <i class="bi bi-person-fill"></i>
            Accounts
        </a>
    </li>
    <li>
        <a href="/transaction_types" class="nav-link text-white">
            <i class="bi bi-cash-coin"></i>
            Transaction Types
        </a>
    </li>
    <li>
        <a href="/categories" class="nav-link text-white">
          <i class="bi bi-tags-fill"></i>
          Categories
        </a>
      </li>
      <li>
        <a href="/import_data" class="nav-link active" aria-current="page">
          <i class="bi bi-database-fill-add"></i>
          Import Data
        </a>
      </li>
</ul>
{% endblock%}

{% block content %}

<div class="card mt-5 p-1 bg-dark-subtle border border-0">
    <div class="card-body">
        <h5 class="card-title">Import Data</h5>
        <hr>
        <form class="needs-validation" action="/import_data_staging" method="POST" enctype="multipart/form-data" novalidate>
            <div class="container">
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="p-3">
                            <label for="file" class="form-label">Upload an associated CSV file</label>
                            <input class="form-control" type="file" accept=".csv" name="file" id="file" required>
                            <div class="invalid-feedback">
                                Please select a valid CSV file.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <label for="import_type" class="form-label">Select import type.</label>
                            <select class="form-select" id="import_type" name="import_type" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="new_import">New Import Type</option>
                                <option value="existing_import">Existing Import Type</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select an import type.
                            </div>
                        </div>
                    </div>
                    <div id="account_association_div" class="col">
                        <div id="account_association_div" class="p-3">
                            <label id="account_association_label" for="account_association" class="form-label" style="display:none">Select an account association</label>
                            <select class="form-select" id="account_association" name="account_association" style="display:none" required>
                                <option selected disabled value="">Choose...</option>
                                {% for row in account_results %}
                                <option value="{{ row.account_description }}">{{ row.account_description }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please select an associated account.
                            </div>
                        </div>
                    </div>
                    <div id="csv_association_div" class="col">
                        <div id="csv_association_div" class="p-3">
                            <label id="csv_association_label" for="csv_association" class="form-label" style="display:none">Enter name for CSV file association</label>
                            <input type="text" class="form-control" id="csv_association" placeholder="" name="csv_association" style="display:none" required>
                            <div class="invalid-feedback">
                                Please enter a name for CSV file association.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="p-3">
                            <label id="csv_association_select_label" for="csv_association_select" class="form-label" style="display:none">Select an previous csv association</label>
                            <select class="form-select" id="csv_association_select" name="csv_association_select" style="display:none" required>
                                <option selected disabled value="">Choose...</option>
                                {% for row in association_results %}
                                <option value="{{ row.association_description }}">{{ row.association_description }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please select an previous csv association.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
        <button type="submit" class="btn btn-outline-success btn-sm float-end">Upload</button>
        </form>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<script>
    var import_check = document.getElementById("import_type");
    import_check.onchange=import_change;

    document.getElementById("account_association_label").style.display = "none";
    document.getElementById("account_association").style.display = "none";
    document.getElementById("account_association").disabled = true;
    document.getElementById("csv_association_label").style.display = "none";
    document.getElementById("csv_association").style.display = "none";
    document.getElementById("csv_association").disabled = true;
    document.getElementById("csv_association_select_label").style.display = "none";
    document.getElementById("csv_association_select").style.display = "none";
    document.getElementById("csv_association_select").disabled = true;

    function import_change()
    {   
    var import_check = document.getElementById("import_type");
    var selected_value = import_check.options[import_check.selectedIndex].value;

    

    if (selected_value == "new_import")
    {
        document.getElementById("account_association_label").style.display = "block";
        document.getElementById("account_association_div").style.display = "block";
        document.getElementById("account_association").style.display = "block";
        document.getElementById("account_association").disabled = false;
        document.getElementById("csv_association_label").style.display = "block";
        document.getElementById("csv_association_div").style.display = "block";
        document.getElementById("csv_association").style.display = "block";
        document.getElementById("csv_association").disabled = false;
        document.getElementById("csv_association_select_label").style.display = "none";
        document.getElementById("csv_association_select").style.display = "none";
        document.getElementById("csv_association_select").disabled = true;
    }
    else
    {
        document.getElementById("account_association_label").style.display = "none";
        document.getElementById("account_association_div").style.display = "none";
        document.getElementById("account_association").style.display = "none";
        document.getElementById("account_association").disabled = true;
        document.getElementById("csv_association_label").style.display = "none";
        document.getElementById("csv_association_div").style.display = "none";
        document.getElementById("csv_association").style.display = "none";
        document.getElementById("csv_association").disabled = true;
        document.getElementById("csv_association_select_label").style.display = "block";
        document.getElementById("csv_association_select").style.display = "block";
        document.getElementById("csv_association_select").disabled = false;
    }
}
</script>

{% endblock %}