{% extends "base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}

<div class="card mt-5 p-1 bg-body-tertiary">
    <div class="card-body">
        <h5 class="card-title">Accounts</h5>
        <table class="table table-dark table-hover table align-middle table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Account Type</th>
                    <th scope="col">Account Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td class="align-middle">{{ row.account_type }}</td>
                    <td class="align-middle">{{ row.account_description }}</td>
                    <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#editModal-{{ row.account_id }}">Edit</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ row.account_id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#addModal">Add Account</button>
    </div>
</div>

{% for row in results %}
<!-- Edit modal -->
<div class="modal fade" id="editModal-{{ row.account_id }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Editing: "{{ row.account_type }}" "{{ row.account_description }}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <!-- Edit modal content -->
    <form class="needs-validation" action="/accounts_edit" method="POST" novalidate>
        <div class="modal-body">
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="account_type" name="account_type" required>
                            <option value="Checking Account" {% if row.account_type == 'Checking Account' %} selected {% endif %}>Checking Account</option>
                            <option value="Saving Account"{% if row.account_type == 'Saving Account' %} selected {% endif %}>Saving Account</option>
                            <option value="Credit Account"{% if row.account_type == 'Credit Account' %} selected {% endif %}>Credit Account</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a account type.
                        </div>
                        <label for="account_type">Select account type</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="hidden" id="account_id" name="account_id" value="{{ row.account_id }}">
                        <input type="text" class="form-control" id="account_description" placeholder="" value="{{ row.account_description }}" name="account_description" required>
                        <div class="invalid-feedback">
                            Please enter an account description.
                        </div>
                        <label for="account_description">Account Description</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of edit modal content-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
        </div>
    </div>
</div>
<!-- End of edit modal-->
{% endfor %}

{% for row in results %}
<!-- Delete modal -->
<div class="modal fade" id="deleteModal-{{ row.account_id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <!-- Delete modal content -->
        <div class="modal-body">
        Are you sure you want to delete "{{ row.account_type }}" "{{ row.account_description }}?"
        </div>
        <!-- End of delete modal content-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="/accounts_delete" method="POST">
            <button class="btn btn-danger" value="{{ row.account_id }}" name="delete">Confirm Delete</button>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- End of delete modal-->
{% endfor %}

<!-- Add modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Add Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <!-- Add modal content -->
        <form class="needs-validation" action="/accounts_add" method="POST" novalidate>
        <div class="modal-body">
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <select class="form-select" id="account_type" name="account_type" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="Checking Account">Checking Account</option>
                            <option value="Saving Account">Saving Account</option>
                            <option value="Credit Account">Credit Account</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a account type.
                        </div>
                        <label for="account_type">Select account type</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="account_description" placeholder="" name="account_description" required>
                        <label for="account_description">Account Description</label>
                        <div class="invalid-feedback">
                            Please enter an account description.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of add modal content-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
        </div>
    </div>
</div>
<!-- End of add modal-->


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

{% endblock %}